extends layout


block CONTENT
    link(rel='stylesheet', href='/cloud/beecloud.css')
    script(src='/cloud/beecloud.js')

    div(id="gauge_cpu",style="height:200px;width:250px;float:right")
    div(id="gauge_ram",style="height:200px;width:250px;float:right")
    div(style="float:left")
        img(style="width:200px;hight:200px", src='/images/bee.jpg')
    div.clearfix
    div.cloud.col-md-4
        div(id="cloud")

    div.honey.col-md-4
        h2.sub-header Honey of your bees
        div.table-responsive(id="files_list")
    script.
        setInterval( function(){
        $.get('/refresh_cloud/#{port}',function(data){
            $('#files_list').html(data);
        });
        },1000);
        $(document).ready(function () {
        $('#cloud').fineUploader({
            request: {
            endpoint: '//'+window.location.host.split(':')[0]+':9000/uploads/#{port}'
            }
            });
        });
        var port_id ='';
        var socket = io.connect();
        var g_cpu = new JustGage({levelColors: ['#008000','#ff0000'] ,id: "gauge_cpu", value: 67, min: 0, max: 4, title: "CPU Load" }); 
        var g_ram = new JustGage({id: "gauge_ram", value: 4, min: 0, max: 4, title: "RAM" });
        g_cpu.refresh(10);
        socket.on('load_cpu',function(data){g_cpu.refresh(data.toFixed(2))});
        socket.on('load_ram',function(data){g_ram.refresh((data/(1024*1024)).toFixed(2))});
    script(type="text/template" id="qq-template").
        <div class="qq-uploader-selector qq-uploader">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
        <span>Drop files here to upload</span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
            <div>Upload a file</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list">
            <li>
                <div class="qq-progress-bar-container-selector">
                <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
                <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
            </ul>
        </div>
